/* You can add styles to this file, and also import other style files */

.mainContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}